.inside {
  z-index: 9;
  background: #3a5ba0;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}

.inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}

.inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}

.inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}

.inside .icon i {
  font-size: 20px;
}

.inside .contents {
  color: white;
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}

.inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
  font-size: 18px;
}
